@* @{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h4>Search for a recipe by an ingredient</h4>
<p>For example: eggs, bacon, ground beef, etc.</p>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Ingredients)
  @Html.TextBoxFor(model => model.Ingredients)
  <input type="submit" class="btn btn-primary" value="Search"/>
}
<br>
<p>@Html.ActionLink("Back to recipe list", "Index")</p> *@